/*Cabeça do site*/

.header {
    background-color: black;
    width: 100%;
}

.header .navbar-brand {
    width: 33%;
}

.header .navbar-brand img {
    width: 72%;
}


@media (max-width: 767px) {
    .header #navbarTogglerDemo01 {
        display: none;
    }
}

.header form {
    width: 33%;
    height: 30px;

}

.header #botao {
    background-color: aliceblue;
    text-align: center;
    padding: 0px;
    height: 30px;
    width: 50px;
}

@media (max-width:230px){
    .header #botao {
      height: 20px;
      width: 30px;
   }
}
@media (max-width:220px){
    .header #botao span {
        height: 10px;
        margin-bottom: 10px;
    }
}
.header .enter {
    display: flex;
    justify-content: center;
}

/*Topo small */
.header .small {
    display: contents;
}

@media (min-width:768px) {
    .header .small {
        display: contents;
        display: none;
    }
}


.header .small img {
    width: 5%;
}

/*Botão de logar*/
.header .enter {
    width: 33%;
    justify-content: end;

}

.header .enter .login {
    margin-right: 60px;
}

.header .login a {
    display: grid;
    text-decoration: none;
    color: aliceblue;
}

.header .login a img {
    margin: auto;
    height: 40px;
}

.header .login:hover {
    background-color: green;
    border-radius: 10px;
}

/*botão de cadastro*/

.header .enter .cadastro {
    margin-right: 70px;
}

@media (max-width: 990px) {
    .header .enter .cadastro {
        margin-right: 10px;
    }
}

.header .cadastro a {
    display: grid;
    text-decoration: none;
    color: aliceblue;
}

.header .cadastro a img {
    margin: auto;
    height: 40px;
}

.header .cadastro:hover {
    background-color: green;
    border-radius: 10px;
}

/*---------------------------------*/
.header .menu {
    background-color: black;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.header .menu a {
    text-decoration: none;
    list-style: none;

}

.header .menu a li {
    padding: 5px;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

@media (min-width:767px) {
    .header .menu {
        display: none;
    }
}

.header .menu {
    display: none;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.header #botao:hover ul {
    z-index: 2;
    position: absolute;
    display: block;
    margin-left: -16px;
    width: 130px;
}

/*------------------------------------------------------_-----------*/

.menu2 {
    z-index: 1;
    position: absolute;
    background-color: black;
    opacity: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
    width: 100%;
}

.menu2:hover {
  opacity: 90%;
}

@media (max-width:767px) {
    .menu2 {
        display: none;
    }
}

.menu2 a {
    text-decoration: none;
    list-style: none;
    padding: 20px;
    color: aliceblue;
}

.menu2 a:hover {
    
    background-color: blue;
    color: black;
}
/*--------------------CONTEÚDO PRINCIPAL------------*/

.container {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

@media (max-width:425px){
    .container .mensagem  {
     font-size: 15px;
    }
}

.container .mensagem {
    font-size: 25px;
}

 .container .barra {
    background-color: #0F5336;
    height: 6px;
    width: 100%;
}
#motosSecao a {
    text-decoration: none;
}
#motosSecao .motos {
    width:300px; 
    height:200px;
}

#motosSecao .nomeM {
 font-size: 20px;
 color: black;
 margin-bottom: 0px;
}
#motosSecao .divisoria {
    height: 2px;
    width: 100%;
    background-color: #0F5336;
} 

#motosSecao .avista {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
#motosSecao .preco {
    margin-top: 0px;
    color: #0F5336;
}